
body-color      = #0e0e0e
sidenav-color   = #070707
navbarColors    = (#F44336 #E91E63 #9C27B0 #673AB7 #3F51B5 #2196F3 #009688 #4CAF50)
post-width      = 70vw
accent          = #E91E63
primary         = #F44336

important-background(color)
  background color !important

@font-face
  font-family "Roboto"
  src   url('/font/roboto/Roboto-Light.woff2') format('woff2')
        url('/font/roboto/Roboto-Light.woff') format('woff')
      
@font-face
  font-family "Ubuntu-Mono"
  font-style normal
  font-weight 300
  src url(/font/ubuntu-mono/UbuntuMono-R.ttf) format('truetype');

body
  background body-color

// Better font support across browsers
*
  font-family Roboto, sans-serif
  speak none
  font-style normal
  font-weight 300
  font-variant normal
  text-transform none
  line-height 1
  -webkit-font-smoothing antialiased
  outline 0px none !important
  line-height 1.5

code
  word-wrap break-word

#main-content
  overflow-x hidden
  height calc(100vh - 64px)
  @media screen and (max-width 960px)
    height calc(100vh - 48px)

#sidenav
  list-style-type none
  width 80px !important
  min-width unset !important
  max-width unset !important
  z-index 60
  *
    background sidenav-color
  md-content
    height 100vh
    min-height 500px
    
    li
      max-width 64px !important

md-tooltip
  *
    border-radius 0 !important
    padding 10px !important
    *
      font-size 17px !important
      line-height 1 !important

for colorIndex in range(0, length(navbarColors) - 1)
  .tooltip{colorIndex} *
    // Stylus did not work with the !important placed here
    important-background(navbarColors[colorIndex])

a
  text-decoration none

.hr-margin
  margin-top 0

.transparent
  background rgba(0, 0, 0, 0)

.more
  float right

.opaque-tooltip *
  important-background(#000)

#main-content
  background-color body-color
  color #aaa
  #title
    font-size 3vw
    margin auto
    padding 50px
    font-weight 300 !important
    line-height 1 !important
    @media screen and (max-width 1450px)
      font-size 4vw
    @media screen and (max-width 900px)
      font-size 5vw
    @media screen and (max-width 470px)
      font-size 7vw
  #post
    box-shadow none
    width post-width
    margin auto
    font-weight 300 !important
    @media screen and (max-width 960px)
      width 80vw
    @media screen and (max-width 500px)
      width 90vw

code
code *
  font-family "Ubuntu-Mono", Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif !important;

.toolbar-padding
  top 0
  height 200px !important
  min-height unset !important
  max-height unset !important
  padding-bottom 50px
  z-index 0

.figure img:hover
  cursor pointer

.flow-text video
  max-width post-width - 20vw
  padding 5px
  border 15px solid primary
  filter brightness(0.4)

.figure
  text-align center
  img
    max-width post-width - 50vw
    padding 5px
    border 15px solid #2c2c2c
    filter brightness(0.4)
  .caption
    background sidenav-color
    padding 10px

.post-item
  margin 0
  margin-left 50px

.noscript-message
  margin auto
  width 100vw
  height 100vh
  position fixed
  z-index 99999
  color white
  text-align center
  background #000
  .text
    position fixed
    top 50%
    left 50%
    margin-right -50%
    transform translate(-50%, -50%)
    h1
      font-size 50px
    *
     margin 0 !important
     line-height 1
    .noscript-footer
      color #666

strong
  font-weight bold

.pink-hr
  color rgb(233, 30, 99)
  border 1px solid

md-autocomplete
  color #000
  width 90% !important

.image-dialog, .video-dialog
  display flex
  text-align center
  overflow hidden
  img, video
    max-width 80vw
    height 100%
    object-fit contain

.sidenav-fab
  z-index 999 !important

md-dialog
  background-color body-color !important

.no-shadow
  box-shadow none !important

md-list-item
  margin 20px 0
  .md-list-item-next *
    margin 0 !important

.repo-icon
  margin 0 32px !important

.sub-programs
  margin-bottom 32px

.progress-fixed
  position fixed !important
  left 0
  right 0
  bottom 0
  top 0
  margin auto

.color-bar
  postiton relative
  height 88px
  width 3px

.md-avatar
  border-radius 0 !important

.small-lang
  font-size 15px
  float right

blockquote
  padding-left 30px
  border-left 3px solid #ccc

.permalink
  display flex
  .pink-link
    margin-right 5px !important
    color accent

@keyframes fadeIn
  from
    opacity 0
    transform scale3d(.3, .3, .3)
  50%
    opacity 1

.ng-enter
  animation-duration 0.3s
  animation-name fadeIn

.ng-leave
  animation-duration 0.3s
  animation-name fadeIn
  animation-direction reverse

#homecontent
  #halfone
    text-align left
    background #000
    #title
      color #fff !important
      min-height 80px !important
  #halftwo
    background body-color
    height 100vh

#progress
  position fixed
  top 0
  left 0
  right 0

#date
  font-size 15px
  margin-left 3em
  text-align left
  display inline

.inlinehr
  display inline-block
  width 3vw
  margin 5px

.home-content
  height 100% !important
  #homecontent
    transition background-color 2s ease
  #color
    transition background-color 2s ease  

#intro
  margin auto

.change
  animation-duration 0.3s
  animation-name fadeIn

::-moz-selection
  background-color accent
  color #ffffff

::selection
  background-color accent
  color #ffffff

.xs-toolbar
  height 48px
  background sidenav-color !important
  position fixed
  bottom 0
  left 0
  .md-toolbar-tools
    justify-content center
    padding 0 !important
    overflow-y auto
    @media screen and (max-width 470px)
      justify-content unset
    
@media screen and (max-width 600px)
  #date
    display none

.postcard
  position relative
  top -130px
  background body-color

.titlelength
  width 70vw

#tagbutton
  margin-right 15px

hr, h1
  color #fff

.backgr
  background #070707
  text-align center

#about
  font-size 3vw
  margin auto
  padding 50px 0
  font-weight 300 !important
  line-height 1 !important
  @media screen and (max-width 1450px)
    font-size 4vw
  @media screen and (max-width 900px)
    font-size 7vw
  @media screen and (max-width 470px)
    font-size 12vw

.pageselected
  background body-color !important
  *
    background body-color !important

#version
  position fixed
  bottom 0
  z-index 100
  right 0
  color #222
  margin 15px
  @media screen and (max-width 960px)
    display none
    
.inline 
  padding 0.2em !important
  display inline !important

h1, h2, h3, h4, h5
  font-weight 400 !important

.toolbarContainer
  margin-top 150px

.articleProgress
  margin-right 20px

#post md-card-content
  padding 0
  .flow-text p:first-child::first-letter
    background #070707
    padding 10px
    font-family Monospace, Serif
    margin-right 5px
    font-size 80px
    float left
    color primary

md-card-title
  padding 0 !important

#mainbody
  margin 70wv
  @media screen and (max-width 960px)
    margin 0

.slidedown
    position absolute
    top 0
    left 0
    width 100%
    height 100%     

@keyframes slideOut
  from
    transform translateX(0)
  to
    transform translateX(100%)

@keyframes slideIn
  from
    transform translate(-100%)
  to
    transform translateX(0)
        
.slidedown.ng-enter,
.slidedown.ng-leave
    -webkit-transition all 0.25s cubic-bezier(.01,.98,1,1)
    transition all 0.25s cubic-bezier(.01,.98,1,1)
    overflow hidden

.slidedown.ng-enter
    animation slideIn 0.7s ease-in-out both
    overflow hidden

.slidedown.ng-enter-active
    left unset
    overflow hidden

.slidedown.ng-leave
    animation slideOut 0.7s ease-in-out both
    overflow hidden
    
.slidedown.ng-leave-active
    left translateX(10000px)
    overflow hidden

@keyframes enlarge
  from
    opacity 0
  to
    opacity 1

@keyframes shrink
  from
    opacity 1     
  to
    opacity 0

#projectToolbar
  width auto
    
.ng-hide-add
  animation 200ms shrink cubic-bezier(.01,.98,1,1)

.ng-hide-remove
  animation 200ms enlarge cubic-bezier(.01,.98,1,1)

em
  font-style italic

.headingPermalink
  margin-left auto
  height inherit

.permalinkHeading
  display flex
  align-items center