
body-color      = #111
sidenav-color   = #010101
navbarColors    = (#F44336 #E91E63 #9C27B0 #673AB7 #3F51B5 #2196F3 #009688)
post-width      = 70vw
accent          = #E91E63
primary         = #F44336

important-background(color)
  background color !important

@font-face
  font-family Roboto
  font-style normal
  font-weight 300
  src url(/font/roboto/Roboto-Light.eot)
  src url(/font/roboto/Roboto-Light.woff2) format('woff2'),
      url(/font/roboto/Roboto-Light.woff) format('woff'),
      url(/font/roboto/Roboto-Light.ttf) format('truetype');

@font-face
  font-family "Ubuntu-Mono"
  font-style normal
  font-weight 300
  src url(/font/ubuntu-mono/UbuntuMono-R.ttf) format('truetype');

body
  background body-color

*
  font-family Roboto, sans-serif
  outline 0px none !important
  line-height 1.5

.app
  height 100vh

#sidenav
  list-style-type none
  width 80px !important
  min-width unset !important
  max-width unset !important
  z-index 999
  *
    background sidenav-color
  md-content
    height 100vh
    width 80px !important
    li
      max-width 64px !important

md-tooltip
  margin-left 10px
  *
    border-radius 0 !important
    padding 10px !important
    *
      font-size 17px !important
      line-height 1 !important

for colorIndex in range(0, length(navbarColors) - 1)
  .tooltip{colorIndex} *
    // Stylus did not work with the !important placed here
    important-background(navbarColors[colorIndex])

a
  text-decoration none

.hr-margin
  margin-top 0

.transparent
  background rgba(0, 0, 0, 0)

.more
  float right

.opaque-tooltip *
  important-background(#000)

#main-content
  background-color body-color
  color #bbb
  #title
    width post-width
    font-size 3vw
    margin auto
    font-weight 300 !important
    line-height 1 !important
    @media screen and (max-width 1450px)
      font-size 4vw
    @media screen and (max-width 900px)
      font-size 5vw
    @media screen and (max-width 470px)
      font-size 7vw
  #post
    width post-width
    margin auto
    font-weight 300 !important
    @media screen and (max-width 960px)
      width 80vw
    @media screen and (max-width 500px)
      width 90vw

code
code *
  font-family "Ubuntu-Mono", Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif !important;

.toolbar-padding
  top 0
  height 200px !important
  min-height unset !important
  max-height unset !important
  padding-bottom 50px

.figure
  text-align center
  img
    max-width post-width - 50vw
    padding 5px
    border 15px solid #2c2c2c
    filter brightness(0.4)
  .caption
    background sidenav-color
    padding 10px

.post-item
  margin 0
  margin-left 50px

.noscript-message
  margin auto
  width 100vw
  color white
  text-align center
  background #000

strong
  font-weight bold

.pink-hr
  color rgb(233, 30, 99)
  border 1px solid

#input-0
  color #000
  width 100vw

.image-dialog
  text-align center
  overflow hidden
  img
    max-height 100%
    max-width 100%

.sidenav-fab
  z-index 999 !important

md-dialog
  background-color body-color !important

.no-shadow
  box-shadow none !important

md-list-item
  margin 20px 0
  .md-list-item-next *
    margin 0 !important

.repo-icon
  margin 0 32px !important

.sub-programs
  margin-bottom 32px

.progress-fixed
  position fixed !important
  left 0
  right 0
  bottom 0
  top 0
  margin auto

.color-bar
  postiton relative
  height 88px
  width 3px

.md-avatar
  border-radius 0 !important

.small-lang
  font-size 15px
  float right

blockquote
  padding-left 30px
  border-left 3px solid #ccc

.permalink
  display flex
  .pink-link
    margin-right 5px !important
    color accent
