extends header

block content
  md-toolbar.md-tall.toolbar-padding
    span(flex)
    h1#title.md-toolbar-tools
      span.md-flex
        | About
      span(flex)
  #post.flow-text!=contents["bio.markdown"].html
