- var archives = _.chain(env.helpers.getArticles(contents)).groupBy(function(item) {
-   return item.date.getFullYear();
- }).value();

- for(var archive in archives) {
-   archives[archive] = _.groupBy(archives[archive], function(item) { return item.date.getMonth(); });
- }

md-toolbar.md-tall.toolbar-padding
  span(flex)
  h1#title.md-toolbar-tools.titlelength
    span.md-flex
      | Archive
    span(flex)
    - var years = _.chain(archives).keys().reverse().value();
#post.flow-text
  each year in years
    - var months = archives[year];
    - var monthsK = _.chain(months).keys().reverse().value();
    h2.year-section= year
      hr.hr-margin
      each month in monthsK
        ul.month-section
          | {{getMonth(#{month})}}
          each item in months[month]
            li.post-item
              a(ui-sref="blog({ name: \"" + item.url.substring(10, item.url.length - 1) + "\" })")
                = item.title
