md-toolbar.md-tall.toolbar-padding
  span(flex)
  h1#about.md-toolbar-tools.titlelength
    span.md-flex
      | Changelog
    span(flex)
    
#post
  md-list(ng-cloak)
    md-subheader.md-no-sticky 
      | Version 3.2
    md-list-item
      p!=contents["Version3.2.md"].html
     
    md-divider