meta(name="Description" content="A development blog written by an unexperienced developer. " +
"Mostly about web development and microcontroller based projects.")

link(rel="stylesheet" href="/css/index.css")

script(src="/js/processing.min.js")
canvas(data-processing-sources="/processing/Hex.pde /processing/YAHG.pde")

#timeGreeting(ng-controller="indexGreeting")
  | <i>{{getGreeting()}}</i>, and welcome to <b>Argarak's Nexus</b>  

#overlay
#version
  | v3 - Angled Ink-Pug